extend ../layout

block content
    .container.mt-3
        .row.justify-content-center
            .col-md-5
                h2.h2.fw-bold.mt-2.mb-4 Create an Event
                form(action=n2r["post-add-event"], method='post')
                    .form-group
                        label(for='name').mb-1.fw-bold Name / Title:
                        input(type='name', id='name', name='name', class='form-control', placeholder="", required="", value="")
                    .form-group.mt-3
                        label(for='date').mb-1.fw-bold Date:
                        input(type='datetime-local', id='date', name='date', class='form-control', required="", value="")
                    .form-group.mt-3
                        label(for='desc')
                            span.mb-1.fw-bold.me-1 Description
                            span.text-muted (optional):
                        textarea(type='text', id='desc', name='desc', class='form-control', placeholder="", value="")
                    .form-group.mt-3
                        label(for='project_id')
                            span.mb-1.fw-bold.me-1 Project
                            span.text-muted (optional):
                        select(name="project_id").form-select
                            option(value="-1", default="")
                                i None
                            each project in projects
                                option(value= project.id)= project.description
                    .text-center.mt-3
                        include ../fragments/add_btn


    script.
        const utcTimeString = '#{day}';
        const localTimeString = new Date(utcTimeString).toLocaleString('sv-SE', {timeZone: 'CET'});
        const localTimeWithoutOffset = localTimeString.slice(0, -3);
        document.getElementById('date').value = localTimeWithoutOffset;
