form(action= deleteUrl, method='post')
    input(type="hidden", name="id", value= deleteId)
    button(type='submit', title="Delete").btn.btn-danger.mt-1.fw-bold.w-100.btn-sm
        i.fa-solid.fa-trash.me-1
        span Delete